body, html {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2em;
    margin: 0 auto;
    color: #fff;
}

h2 {
    font-size: 1.5em;
}


h1, h2 {
    font-weight: normal;
    text-align: center;
}

/*------------*/
/*Top Part*/
/*-----------*/
.top {
    background: #f5a09b;
    position: relative;
    height: 650px;
}

.intro-bg {
    width: 100%;
    height: 400px;
    background: #000 url(../img/bg-01.png) no-repeat center center;
    background-size: cover;
}

.container_2 {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    min-height: 500px;
    border: 2px solid rgba(255, 255, 255, .5);
}

.intro {
    box-sizing: border-box;
    height: 340px;
    padding-top: 5.3em;
}

.intro  h2{
  color: rgba(255, 255, 255, .6);
}
.avatar {
    display: block;
    margin: 0 auto 20px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #fff;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.social-network h3 {
    margin: 100px auto 20px;
    text-align: center;
    font-weight: normal;
    color: rgba(255, 255, 255, .6);
}

.social-network i.wrap {
    position: relative;
    top: -0.325em;
    display: inline-block;
    width: 46px;
    height: 2px;
    background: rgba(255, 255, 255, .6);
}

.social ul {
    margin: 0 auto;
    padding: 0;
    width: 220px;
    list-style: none;
}

.social ul li {
    float: left;
    margin-right: 20px;
}

.social ul li:last-child {
    margin-right: 0;
}


/*-----------------------*/
/*Article \ Parallax Part*/
/*-----------------------*/
.parallax [class*="bg-"] {
  position: relative;
  height: 80vh;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 1em #c4c1c1;
}

.parallax .bg-1 {
  background: #000 url(../img/bcg_slide-3.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
.parallax .bg-2 {
  background: #000 url(../img/bcg_slide-4.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
.parallax .bg-break {
  box-shadow: inset 0 0 1em #c4c1c1;
  background: #000 url(../img/bcg_slide-5.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

.parallax-content {
  width: 200px;
  font-size: 28px;
  text-indent: 0;
  color: #fff8de;
  padding: 1em;
  background-color: rgba(0,0,0,0.5);
}

.parallax-content1 {
  float: right;
  margin: 9.5em 1em 0 0;
}

.parallax-content-break {
  float: right;
  margin: 5.5em 1em 0 2em;
  font-size: 20px;
}

h1 a {
  color: #f5a09b;
}

h1 a:hover {
  color: white;
}

article .container {
  margin: 0 auto;
  text-align: justify;
}
article header {
  position: relative;
  margin: -4.5em 0 0 0;
  padding: 1em;
  font-size: 2em;
  color: #333;
  background-color: rgba(255, 255, 255, 0.75);
}
article h1, article h2 {
  margin: 0 0 0.333em;
}
article section {
  padding: 3em;
}
article section.parallax {
  margin: 0;
  padding: 0;
}



/*Copy*/
.copy {
    position: relative;
    left: 50%;
    margin-left: -50px;
    bottom: 2em;
    width: 100px;
}

.copy, .copy a {
    font-size: 12px;
    color: rgba(245, 160, 154, 1);
    text-align: center;
}


/* Icons
 ---------- */
.lisicon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url(../img/icons.svg);
}
.no-svg .lisicon {
    background: url(../img/icons.png) no-repeat;
}

.lisicon-github {
    background-position: 0 0;
}

.lisicon-github:hover {
    background-position: -80px 0;
}

.lisicon-linkedin {
    background-position: 0 -320px;
}

.lisicon-linkedin:hover {
    background-position: -80px -320px;
}

.lisicon-email {
    background-position: 0 -400px;
}

.lisicon-email:hover {
    background-position: -80px -400px;
}

/*-----------*/
/*Meida Query*/
/*-----------*/
@media screen and (max-width: 370px) {
  .parallax [class*="bg-"] {
    height: 40vh;
  }

  article .container {
    width: 250px;
  }
}
@media screen and (max-width: 625px) {
  .top {
    height: 600px;
  }

  .intro-bg {
    height: 380px;
  }

  .social-network h3 {
    margin-top: 70px;
  }

  .parallax [class*="bg-"] {
    height: 50vh;
  }
}

@media screen and (max-width: 720px) {
   .parallax [class*="bg-"] {
    height: 60vh;
  }
}
@media screen and (max-width: 920px) {
   .parallax [class*="bg-"] {
    height: 70vh;
  }
  article header {
    margin: -2.5em 0 0 0;
    padding: 0.5em;
  }

  article h1{
    font-size: 1em;
  }
  section h1 {
    font-size: 1.5em;
  }
  .intro h2 {
    font-size: 1em;
  }

}
@media screen and (max-width: 1185px) {
   .parallax [class*="bg-"] {
    height: 80vh;
  }
  .parallax .bg-1, .parallax .bg-break {
    height: 90vh;
  }

}
@media screen and (min-width: 1186px){
  article .container {
    width: 600px;
    margin: 0 auto;
  }
}